@CHARSET "UTF-8";
/*trbl*/

body {
    padding-bottom: 20px;
}

.upper-page-line{
	height: 45px;
	background-color: #454073;
}

.header-page-line{
	background-color: #c4bfe6;
}
.j-header{
	margin-bottom: 5px;
	margin-top: 5px;
}

.tabs-container{
	margin-top: 6px;
}

.user-welcome{
	font-weight: bold;
}

.dialog-standard .ui-dialog-titlebar-close{
  display: none;
}

#screen_title .page-header{
	margin-top: -15px;
}
										/* Categories list*/
.cat-tree .add-item{
	padding: 0 0 20px 0;
}

.cat-tree .celected-cat{
	background-color: #e1e1e1;
}

.cat-tree button.ui-button-icon-only{
	width: 16px;
}


.cat-tree button.btn-toggle-cat{
	width: 16px;
	 border-radius:0;
	 border: 0;
	 vertical-align: unset;
	 background-color: transparent;
	 background: transparent;
}

.cat-tree .panel{
	box-shadow:none;
	margin: 0;
}

.cat-tree .del-btn{
	margin-bottom: 4px;
}

.cat-tree .panel-group{
	margin: 2px;
}

.cat-tree .cat-name{
	cursor: pointer;
	padding-right: 5px;
}
.cat-tree .cat-name:hover{
	background-color: #caced9;
}

.cat-tree .cat-name-single{
	padding-left: 18px;
}
/* Categories list (end)*/



/* Category form*/

#cat-form .control-label{
	text-align: left;
}

/* Category form (end)*/


														/* Tables*/
.container .j-tbl{
	padding: 30px;
	background-color: #e1f0f0;
}

table.dataTable thead .checkboxtd{
	width: 18px;
}

table.dataTable thead th, table.dataTable thead td,table.dataTable tbody td{
	border-right:  1px solid #bfbfbf;
}
table.dataTable thead th, table.dataTable thead td
/*,table.dataTable tfoot th, table.dataTable tfoot td*/
{
	border-bottom: 1px solid #bfbfbf;
	background-color: #d1d8e9;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
table.dataTable tfoot th, table.dataTable tfoot td {
   border-top: 1px solid #bfbfbf;
}

table.dataTable tbody td{
	padding-top: 0;
	padding-bottom: 0;
}

div.dataTables_length select.form-control, div.dataTables_filter input.form-control, .dataTable input{
	width:auto;
	display: inherit;
	font-size: 12px;
	height: 25px;
	padding: 4px 12px;
}

input.field-search-input{
	margin: 0;
	height: 25px;
	margin-top: 10px;
	font-size: 12px;
	width: 80%;
}
.dataTables_wrapper .dataTables_filter input{
	margin-left: 0;
}
.dataTables_wrapper .dataTables_filter button, .dataTable .ind-search-btn, .dataTable .ind-clean-btn{
	border: 1px solid #bfbfbf;
	width: 20px;
	height: 20px;
	margin-left: 2px;
}


					/*	Paging    */
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover

,.dataTables_wrapper .dataTables_paginate .paginate_button.current
,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	padding: 0;
	border: none;
	margin: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	background: linear-gradient(to bottom, #b7caca 0%, #e6e6e6 60%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #e1f0f0;
	color: #000000 !important;
	border-radius: 4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: linear-gradient(to bottom, #e6e6e6 40%, #b7caca 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #000000 !important;
	border: 1px solid #bfbfbf;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	background: linear-gradient(to bottom, #e1f0f0 0%, #e1f0f0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #949494!important;
	cursor: default;
}

.dataTables_wrapper table.dataTable tr.odd{
	background-color: #fffdfb;
}
.dataTables_wrapper table.dataTable tr.even{
	background-color: #fff5ea;
}
.dataTables_wrapper table.dataTable tr.odd:HOVER
,.dataTables_wrapper table.dataTable tr.even:HOVER{
	background-color: #ffdbb3;
}

.dataTables_wrapper table.dataTable tr.selected-tr{
	background-color: #ffdbb3;
}

.right-align-sell{
	text-align: right;
}
.left-align-sell{/*Default usually*/
	text-align: left;
}
.center-align-sell{
	text-align: center;
}

.dataTables_wrapper .dataTables_filter .tbl-tool-btns-span{
	padding-right: 20px;
}

.dataTables_wrapper .dataTables_filter .filter-check-box{
	vertical-align:middle;
	/*margin-right: 5px;*/
	margin: 0 5px 0 0;
}

.tbl-content-type{
	padding-right: 40px;
	color: #95355e;
	font-weight: bold;
	font-size: 18px;
}
.affirm-message-1,.affirm-message-2{
	width: 100%;
	
	padding-top: 10px;
}
.affirm-message-2{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.dialog-form .container{
	width: auto;
}