@CHARSET "UTF-8";

body {
    padding-bottom: 20px;
}

.upper-page-line{
	height: 45px;
	background-color: #454073;
	
	
/*	color: #3c7568;4*/
}

.header-page-line{
	background-color: #c4bfe6;
}
.j-header{
	margin-bottom: 5px;
	margin-top: 5px;
}

.tabs-container{
	margin-top: 6px;
}

.user-welcome{
	font-weight: bold;
}

#acc-main .tree-branch-btn{
	border-radius: 1px;
	font-size: 7px;
	padding: 1px 4px;
	border: none;
	margin: 0;
	padding: 3px 5px 3px 5px;
}
#acc-main .tree-branch-btn:hover{
	background-color: #caced9;
}

#acc-main .panel{
	box-shadow:none;
}

#acc-main .categori-btn-group{
	padding-left: 5px;
}

/*trbl*/
#acc-main .shadow-left{
	border-left: 1px solid #bea494;
}
